@font-face {
  font-family: "Norwester";
  src: url("http://localhost:3000/fonts/norwester/norwester.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Classic";
  src: url("http://localhost:3000/fonts/montserrat/Montserrat-Regular.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Light";
  src: url("http://localhost:3000/fonts/montserrat/Montserrat-Light.otf") format("opentype");
  font-style: normal;
}

.app {
  padding-top: 40px;
  background-color: #f1efe7;
}

.authors {
}

h1,
h2,
h3,
h4 {
  color: #222;
  font-weight: initial;
}

h1 {
  font-family: Norwester;
  font-size: 45px;
  margin: 15px;
}

h2 {
  font-family: "Montserrat Classic";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 3rem 0 2rem 0;
}

h3 {
  font-family: Norwester;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
}

p,
span {
  color: #000;
  font-family: "Montserrat Light";
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 10px;
  font-family: "Montserrat Light";
  min-height: 100vh;
}

.documents {
  width: 1400px;
  margin: 0px auto;
}

.boxes {
  display: flex;
}

.box {
  background-color: #e8e4d8;
  padding: 10px 20px;
  width: 600px;
  margin: 2rem;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: #f1efe7;
  font-size: 1rem;
  font-family: "Montserrat Classic";
  resize: none;
  margin: 0px 0px 10px;
  border-radius: 4px;
}

.explore-buttons {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.explore-buttons button {
  background-color: #e8e4d8;
  border: none;
  height: 40px;
  width: 170px;
  font-family: "Montserrat Classic";
  cursor: pointer;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 1rem;
  border-radius: 4px;
}

.explore-buttons button:hover {
  background-color: #eae8d1;
}

.explore-buttons span {
  float: right;
}

.vector-arrow {
  text-align: center;
}

.vector-arrow span {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
  overflow: visible;
  white-space: nowrap;
  background-color: hsla(45, 26%, 88%, 0.7);
  padding: 0.25rem;
  border-radius: 4px;
}

.App-link {
  color: #61dafb;
}

.dream-area {
  width: 50%;
}

.loading-area {
  margin-top: 40px;
  width: 50%;
  height: 200px;
  text-align: center;
  margin-right: 150px;
}

.loading-area span {
  font-size: 10px;
}

.vectorization-vectors {
  display: flex;
  width: 100%;
  justify-content: center;
}

.vector-wrapper {
  margin: 4rem;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
